.header {
    width: 100%;
    height: 9rem;
    background-image: linear-gradient(rgb(28, 153, 255), rgb(164, 232, 255));
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    height: 7rem;
}