.teams-wrapper {
    margin-top: 3rem;
    padding: 0 0.5rem 0 0.5rem;
}

.team-row {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.team-row h4 {
    text-transform: uppercase;
    margin-left: 0.5rem;
}

.team-row .logo {
    height: 3rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.team-row span {
    margin-left: auto;
    height: 4rem;
    width: 7rem;
    background-image: linear-gradient(rgb(28, 153, 255), rgb(164, 232, 255));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 0 10px 10px 0;
}

.team-row span h5 {
    text-transform: uppercase;
}

.player-wrapper {
    width: 100%;
    height: 2.5rem;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 0 1rem;
}

.player-wrapper p {
    font-weight: bold;
}

.p-blue {
    color: rgb(28, 153, 255);
}